*{
    margin: 0 auto;
}
.Background{
    margin:0%;
    width: 100%;
    height: auto;
    min-height: 100%;
    background: var(--background-color);
}
.Left_Block{
    width: 444px;
    height: 100%;
    background-color: var(--background-color);
    float:left;
}
#monthView, #monthView>tbody{
  width: 50%;
}
#monthView>thead>tr{
  text-align: center;
}
#monthView>tbody>tr{
  margin: 0;
  display: flex;
  justify-content: space-around;
}
.Date{
    width:  20.3125vw;
    height:  35.859124866595515vh;
    background: var(--date-color);
    border-radius: 0px 0px 40px 0px;
    margin-left: 0%;
    line-height: 2em;
}
.Weather{
    width:  18.489583333333332vw;
    height: 10vh;
    margin-top:90%;
    margin-left: 5%;
    background: var(--cards-back-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.currentDate{
    padding-top: 3vh;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 3em;
    line-height: 2em;
    text-align: center;

    color: var(--font-color);

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.Account{
    margin-top:1%;
    width: 349px;
    height: 41px;
    margin-left: 1vw;
    font-family: 'Quicksand';
    font-style: normal;
    font-size: 2.5em;
    line-height: 50px;
    text-align: center;

    color: var(--font-color);
    text-decoration: none !important;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
input[type=text], input[type=password]{
    background-color:var(--background-color);
    border: none;
    border-bottom: 2px solid var(--font-color);
    width: 249.01px;
    padding: 5%;
    outline: none;
    font-family: 'Quicksand';
    color: var(--font-color);
    font-size: 20px;
    text-align: center;
}
input[type=button]{
  background-color:var(--background-color);
  border: none;
  border: 1px solid var(--font-color);
  width: 249.01px;
  margin: 10px 0 0 0 ;
  padding: 5%;
  outline: none;
  font-family: 'Quicksand';
  color: var(--font-color);
  font-size: 20px;
  text-align: center;
}
input[type=button]:active{
  background-color:#267483;
}
#Register, #Login{
    font-size: 0.5em;
    color: var(--font-color);
}
a{
    color: var(--font-color);
    text-decoration: none;
}
#registerClick:hover, #loginClick:hover{
  cursor:pointer;
}
.Cards{ 
    display: flex;
    flex-wrap:wrap;
}
#ShowDay{
    background-color: var(--cards-back-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 30px 30px;
    width: 250px;
    border-spacing: 0;
    margin: 20px;
    transition-duration: 0.5s;
    margin: auto;
    display: block;
    margin-top: 30px;

}
#ShowDay:hover{
  transform: scale(1.0);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}
#ShowDay>tbody{
    height: 250px;
    color:var(--font-color);
    display:grid;
}
#ShowDay>thead{
    text-align: center;
    background: var(--cards-heading-color);
    width: 100%;
    border-radius: 30px 30px 0px 0px;
}
tr{
    display: flex;
    width: 100%;
    padding: 0%;
}
td:last-of-type{
    color: var(--font-color);
    opacity: 0.55;    
}
td{
    
    font-family: "QuickSand";
    font-weight: bold;
    @media (min-width: 1920px){
        font-size: 1.3em;
    }
    font-size: 0.7em;
    border-radius: 30px 30px 0px 0px;
}
#Month{
  width: 248px;
}
.events{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-width: 100px;
}

#Days{
  width:60%;
  height: 60%;
  background-color: var(--date-color);
  margin-left: 30%;
  margin-top: 10%;
  border:none;
  border-radius: 30px;
  position: absolute;
  z-index: 1;
  position: absolute;
}
@keyframes Days {
  0% {
    transform: translateY(-1200px) scale(.7);
  }

  80% {
    transform: translateY(0px) scale(.7);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

#Days {
  -webkit-animation: backInDown 0.5s;
  animation: backInDown 0.5s;
}

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

button {
  background: none;
  border: 0;
  box-sizing: border-box;
  color: transparent;
  cursor: pointer;
  font-size: 15px;
  left: 5%;
  letter-spacing: 1.5px;
  line-height: 20px;
  outline: none;
  overflow: hidden;
  padding: 10px 0 0;
  position: absolute;
  text-transform: uppercase;
  top: 8%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in;
  width: 50px;
}

button::before,
button::after {
  background-color: var(--background-color);
  content: '';
  display: block;
  height: 3px;
  left: 0;
  position: absolute;
  transform-origin: center left;
  transition: all 0.2s ease-in;
  width: 50px;
  z-index: -1;
  border-radius: 50%;
}

button::before {
  top: 0;
  transform: rotate(45deg);
}

button::after {
  bottom: 0;
  transform: rotate(-45deg);
}

button:hover {
  color: #ffffff;
}

button:hover::before,
button:hover::after {
  height: 50px;
  transform: rotate(0deg);
}

.clockCont{
    width: 250px;
    height: 250px;
    margin: 20px;
    background: var(--date-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.currentYear{
    width: 540px;
    height: 250px;
    margin: 20px;
    background: var(--cards-back-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    color: var(--font-color);
    text-align: center;
    font-family: "QuickSand";
    font-size: 5em;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
    margin-top: 6%;
  }
  
  .theme-switch input {
    display: none;
  }
  
  .ThemeSwtWr {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .ThemeSwtWr em {
    margin-left: 10px;
    font-size: 1rem;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color:#505050;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }

  :root {
    --background-color: #051821;
    --date-color: #D39906;;
    --font-color: #FFF;
    --cards-back-color: #266867;
    --cards-heading-color: #1A4645;
    --clock-seconds-color: #CC0033;
  }
  
  html[data-theme="other"] {
    --background-color: #C6C8C9;
    --date-color: #54073E;
    --font-color: #FFF;
    --cards-back-color: #333333;
    --cards-heading-color: #505050;
    --clock-seconds-color: #FF3366;
  }
  .clock {
    border-radius: 50%;
    background-size: 88%;
    height: 10em;
    padding-bottom: 31%;
    position: relative;
    width: 15em;
    margin-top: 5px;
  }
  .clock:after{
    background: var(--background-color);
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 5%;
    height: 5%;
    
  }

  .minutes-container, .hours-container, .seconds-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .hours {
    background: var(--font-color);
    height: 20%;
    left: 48.75%;
    position: absolute;
    top: 30%;
    transform-origin: 50% 100%;
    width: 2.5%;
  }
  .minutes {
    background: var(--font-color);
    height: 40%;
    left: 49%;
    position: absolute;
    top: 10%;
    transform-origin: 50% 100%;
    width: 2%;
  }
  .seconds { 
    background: var(--clock-seconds-color); 
    height: 45%; 
    left: 49.5%; 
    position: absolute; 
    top: 14%; 
    transform-origin: 50% 80%; 
    width: 1%; 
    z-index: 8; 
  }

    @keyframes rotate { 100% { transform: rotateZ(360deg); } }
    .hours-container { 
      animation: rotate 43200s infinite linear; 
    } 
    .minutes-container { 
      animation: rotate 3600s infinite linear; 
    } 
    .seconds-container { 
      animation: rotate 60s infinite linear; 
    }
    .minutes-container { 
      animation: rotate 3600s infinite steps(60); 
    } .seconds-container { 
      animation: rotate 60s infinite steps(60); 
    }
    #monthView, #monthView>tbody{
      width: 50%;
    }
    #monthView>tbody>tr{
      margin: 0;
      display: flex;
      float: left;
      justify-content: center;
      padding: 10px;
      text-align: center;
      color: white;
    }
    #monthView{
      float:left;
      margin-top: 5%;
    }
    #Days>h1{
      margin-right: 70%;
      text-align: left;
      color: white;
      font-family: Quicksand;
    }
    #Wydarzenie{
      text-align: right;
      margin-right: 5%;
      font-size: 2em;
      margin-top: 2%;
      color: white;
      font-family: Quicksand;
    }
    #eventName{
      margin-top: 1%;
      margin-left: 23%;
      height: 10px;
      border: none;
      height: 20px;
      border-radius: 20px;
    }
    #eventDate{
      margin-top: 1%;
      margin-left: 34.5%;
      color: white;
      background-color: var(--background-color);
      border-radius: 10px;
    }
    #eventColor{
      margin-top: 1%;
      margin-left: 40%;
      border: none;
      padding:0;
      box-sizing: none;
      appearance: none;
      background-color: var(--date-color);
      height: 50px;
      
    }
    #addEvent{
      margin-top: 1%;
      margin-left: 23%;
      height: 20px;
      border: none;
      border-radius: 20px;
    }
