/* Color Theme Swatches in Hex */
.Moda-1-hex { color: #CBC5D9; }
.Moda-2-hex { color: #F2B56B; }
.Moda-3-hex { color: #F2955E; }
.Moda-4-hex { color: #F2B6A0; }
.Moda-5-hex { color: #F26457; }

/* Color Theme Swatches in RGBA */
.Moda-1-rgba { color: rgba(203, 197, 216, 1); }
.Moda-2-rgba { color: rgba(242, 181, 106, 1); }
.Moda-3-rgba { color: rgba(242, 148, 94, 1); }
.Moda-4-rgba { color: rgba(242, 181, 159, 1); }
.Moda-5-rgba { color: rgba(242, 100, 87, 1); }

/* Color Theme Swatches in HSLA */
.Moda-1-hsla { color: hsla(258, 20, 81, 1); }
.Moda-2-hsla { color: hsla(33, 84, 68, 1); }
.Moda-3-hsla { color: hsla(22, 85, 66, 1); }
.Moda-4-hsla { color: hsla(16, 76, 78, 1); }
.Moda-5-hsla { color: hsla(5, 85, 64, 1); }